<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Single page web app using Angularjs</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
	<header>
		<div class="panel-heading" align="center">
      		<h2>The Catawba Project</h2>
    	</div>
		<div class="panel-body">
        <table>
            <form id="searchForm" action="/getCategory" method="post">
            <td rowspan="2">
                <select name="categorySelectId" style= "display: block; width: 200px; height: 34px; padding: 6px 12px; font-size: 14px; line-height: 1.42857143; color: #555; background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 4px">
                    <option <%= (categorySelected == 'all') ? "selected" : "" %> value="all">All Categories</option>
                    <% categories.forEach(function(category) { %>
                        <option <%= (categorySelected == category.CategoryId) ? "selected" : "" %> value=<%= category.CategoryId %>><%= category.CategoryName %></option>
                    <% }); %>    
                </select>
            </td>
            <td rowspan="4"><input type="text" class="form-control" name="searchTerm" placeholder="Search term..." style="width:800px"></td>
            <td>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </td>
            </form>
        </table>
        </div>
    </div>		
	</header>
