<% include ../partials/head %>
	<main>
		<div class="jumbotron" style="margin:20px">
		<div class="row">
		<% items.forEach(function(item) { %>
			<div class="col-md-4">
				<div class="thumbnail" style="margin:20px">
					<img src="http://placehold.it/200x200/EEE" alt= <%= item.ItemName %>>
					<div class="caption" align="center">
						<h4 class=""><%= item.ItemName %></h4>
						<h5>$<%= item.Price %></h5>
						<h5 class=""><%= item.Description %></h5>  <a href="#" class="btn btn-default btn-xs" role="button">Add to Cart</a>
					</div>
				</div>
			</div>
		<% }); %>
		</div>
		</div>
	</main>

<% include ../partials/footer %>
	
